table {
	border-collapse: collapse;
	border-spacing: 0;
}
table,td {
  border: 1px solid orange;
  padding: 10px;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  width: 1100px;
  margin: auto;
  text-align: center;
}
table img {
  border-radius: 50%;
  width: 100px;
}
.sum{
	margin-left: 150px;
}
#clear-cart{
	cursor: pointer;
}
#contain{
	width: 1000px;
	margin-left: 150px;
	height: 500px;
}
