.modal {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .container {
  position: absolute;
  left: 0;
  right: 0;
  width: 500px;
  margin: 0 auto;
  background-color: white;
}
.modal .container .hd {
  line-height: 40px;
  text-align: right;
  padding-right: 10px;
  background-color: #F7F7F7;
  
}
.modal .container .hd span {
  cursor: pointer;
  color: #BD2426;
  padding: 5px;
  border-radius: 5px;
}
.modal .container .hd span:hover {
  background-color: #BD2426;
  color: white;
}
.modal .container .bd {
  padding: 10px;
}
.modal .container .add{
	color: #000;
}
.modal .container .add:hover{
	background-color: #BD2426;
  color: white;
}
