#box2 {
	width: 100%;
}

.goods-look {
	margin: auto;
	margin-top: 40px;
	width: 1200px;
	height: 700px;
}

#list2 {
	float: left;
	position: relative;
	width: 190px;
	height: 300px;
	padding: 1px;
	margin: 0 20px 0 20px;
	overflow: hidden;
}

#list2:hover {
	opacity: .8;
	padding: 0;
	border: 1px solid orange;
}

#price {
	position: absolute;
	bottom: 10px;
	color: red;
}

li a {
	color: black;
	font-size: 15px;
}

li img {
	width: 100%;
}

#box2 .vanclFocus {
	position: relative;
	width: 1200px;
	height: 535px;
	margin: 0 auto;
	overflow: hidden;
}

.m_unit {
	width: 6000px;
	height: 535px;
	position: absolute;
	top: 0;
	left: 0;
}

.m_unit ul li {
	float: left;
	width: 1200px;
	height: 535px;
}

.btns .leftBtn {
	position: absolute;
	width: 28px;
	height: 60px;
	cursor: pointer;
	left: 10px;
	top: 230px;
	background: url(../img/focus_lr0918.png) no-repeat 0 0;
}

.leftBtn:hover {
	background-position: 0 -60px;
}

.btns .rightBtn {
	position: absolute;
	width: 28px;
	height: 60px;
	cursor: pointer;
	right: 10px;
	top: 230px;
	background: url(../img/focus_lr0918.png) no-repeat -52px 0;
}

.rightBtn:hover {
	background-position: -52px -60px;
}

.circles {
	position: absolute;
	width: 80px;
	height: 12px;
	bottom: 25px;
	right: 46%;
}

.circles ol {
	list-style: none;
}

.circles ol li {
	float: left;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #dddddd;
	margin-right: 6px;
}

.circles ol li.current {
	background-color: darkred;
}

form {
	padding-right: 150px;
}

label {
	display: block;
	text-align: right;
	margin-bottom: 5px;
}

.address-ul {
	overflow: hidden;
	height: 200px;
}

.address-ul li {
	margin-top: 10px;
	width: 200px;
	height: 200px;
	float: left;
	overflow: hidden;
	border: 1px solid #e4e4e4;
	padding: 5px;
	background-color: #ccc;
	line-height: 200%;
	cursor: pointer;
	box-sizing: border-box;
}

.address-ul li.selected {
	border: 1px solid orange;
}

.delete {
	float: right;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	background-color: orange;
	color: white;
	cursor: pointer;
}

.delete:hover {
	background-color: white;
	color: orange;
}

.show-all-address {
	clear: both;
	width: 100px;
	text-align: center;
	margin-top: 10px;
	margin-left: 30px;
	padding: 5px;
	cursor: pointer;
	background-color: orange;
	color: white;
}

.show-all-address:hover {
	background-color: white;
	color: orange;
}

#order {
	margin-top: 20px;
	margin-left: 30px;
	width: 100px;
	height: 30px;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 10%;
	box-shadow: 1px 1px 1px #ccc;
	background: honeydew;
	color: black;
}

#address {
	margin: auto;
	width: 1200px;
}
.address-ul{
	float: left;
}
#address-size {
	width: 1200px;
	border-bottom: 1px solid black;
	font-size: 18px;
	padding: 5px;
}

#add-address {
	margin-top: 50px;
	float: left;
	width:100px;
	height: 100px;
	
}